// Colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$green-500: hsl(154, 57, 46);
$blue-300: hsl(246, 25%, 77%);
$blue-500: hsl(248, 32%, 49%);
$blue-700: hsl(249, 10%, 26%);
$white: hsl(0, 0%, 100%);
$white-300: hsl(0, 0%, 87%);

// Fonts Sizes
$heading-1: 4.8rem;
$heading-2: 2.8rem;
$sub-heading: 1.5rem;
$paragraph: 1.6rem;
$placeholder: 1.4rem;
$label: 1.1rem;

// Padding & Margin
$padding: 4rem;
